<h3 class="text-center">Product List</h3>
<button class="btn btn-primary" (click)="openAlert()">Sweet Alert</button>
<button class="btn btn-primary" (click)="openSnackbar()">Snack Bar</button>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <select (change)="categoryChanged($event)">
        @for (category of categorySet; track $index) {
          <option>{{category}}</option>
        }
      </select>
    </div>
    <div class="col-sm-4">
      <input class="form-control"  appDisablePaste appTextonly type="search" placeholder="Search" [(ngModel)]="searchText">
      <!-- input is the host element for appTextonly directive -->
      <button (click)="searchProduct()">Search</button>
    </div>
    <div class="col-sm-6">
      <button (click)="sortAsc()">Sort Asc</button>
      <button (click)="sortDesc()">Sort Desc</button>
      <button (click)="reset()">Reset</button>
    </div>
  </div>
  <div class="row mt-2">
    @for (product of productArr | paginate: { itemsPerPage: 4, currentPage: p }; track $index)  {
    <div class="col-sm-3">
      <div class="card" appZoomin >
        <img src="{{product.image}}" class="card-img-top" alt="..." height="200">
        <div class="card-body text-center" >
          <h5 class="card-title">{{product.category}}</h5>
          <p class="card-text">{{product.id}}</p>
          <p class="card-text text-truncate">{{product.title}}</p>
          <p class="card-text text-truncate">{{product.description}}</p>
          <p class="card-text">{{product.rating.rate}}
            <fa-icon [icon]="faStar"></fa-icon>
          </p>
          <button class="btn btn-primary mx-1" [routerLink]="['/productdetails']"
            [queryParams]="{id:product.id,name:product.title,price:product.price}">Details</button>
        </div>
      </div>
    </div>
    }@empty {
      <div>No Products Found</div>
    }
    <div class="row mt-1">
      <div class="col-sm-4 offset-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>