<div class="body container">
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directive-demo></app-directive-demo> -->
<!-- <app-product-list></app-product-list> -->
 <!-- <app-product-list></app-product-list> -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
   <!-- <app-parent></app-parent> -->
   <!-- <app-employees-crud></app-employees-crud> -->
    <!-- <app-employeecomp></app-employeecomp> -->
     <!-- <app-user-list></app-user-list> -->
<!-- <app-newuser-list></app-newuser-list> -->
<!-- <app-comment-list></app-comment-list> -->
 <!-- <app-employee-list></app-employee-list> -->
  <app-newuser-list></app-newuser-list>
</div>