<p>employeecomp works!</p>
<div>
    <select [(ngModel)]="selectedOption">
        <option value="">Select DropDown</option>
        <option>allEmployees</option>
        <option>maleEmployees</option>
        <option>femaleEmployees</option>
      </select>
</div>
<div>
    <table class="table table-bordered text-center">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Salary</th>
            <th>Gender</th>
        </thead>
        <tbody>
            @for(emp of displayEmployeeObj ;track $index){
                <tr>
                    <td>{{emp.id}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.role}}</td>
                    <td>{{emp.status}}</td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.gender}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
