<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
  
      <div class="carousel-item active">
        <img src="https://cdn.shopaccino.com/refresh/articles/achaar-170348_l.jpg?v=591"
             class="d-block w-100 carousel-img"
             alt="Mango Pickle">
      </div>
  
      <div class="carousel-item">
        <img src="https://images.ctfassets.net/3s5io6mnxfqz/1MH5olQ7SIFH2VDZPUo1Dw/55860d43a92da1e036572255f1ffcde8/AdobeStock_196719611.jpeg?w=1920"
             class="d-block w-100 carousel-img"
             alt="Combo Pickle">
      </div>
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
  
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  
  </div>
  