<div class="row text-center">

    <!-- Veg Category -->
    <div class="col-md-6">
      <div class="card category-card shadow-sm">
  
        <img src="https://www.prideofindia.co/cdn/shop/files/1_eba00973-5ab1-46a6-b0ee-f4af06cac4e0_1600x.png?v=1613518104"
             class="card-img-top category-img"
             alt="Mango Pickle">
  
        <div class="card-body">
          <h5 class="card-title text-success">Veg Pickles</h5>
          <p class="card-text">Mango, Lemon, Gongura pickles</p>
          <button class="btn btn-success">View Veg</button>
        </div>
  
      </div>
    </div>
    <!-- Non-Veg Category -->
    <div class="col-md-6">
      <div class="card category-card shadow-sm">
  
        <img src="https://www.pngkey.com/png/full/270-2702996_non-veg-portable-network-graphics.png"
             class="card-img-top category-img"
             alt="Chicken Pickle">
  
        <div class="card-body">
          <h5 class="card-title text-danger">Non-Veg Pickles</h5>
          <p class="card-text">Chicken, Mutton, Fish pickles</p>
          <button class="btn btn-danger">View Non-Veg</button>
        </div>
  
      </div>
    </div>
  
  </div>
  