<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand fw-bold text-warning" href="#">
      Kansas Pickles
    </a>

    <!-- Mobile toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>

        <!-- Veg Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-success" href="#" role="button" data-bs-toggle="dropdown">
            Veg Pickles
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Mango Pickle</a></li>
            <li><a class="dropdown-item" href="#">Lemon Pickle</a></li>
            <li><a class="dropdown-item" href="#">Gongura Pickle</a></li>
            <li><a class="dropdown-item" href="#">Tomato Pickle</a></li>
          </ul>
        </li>


        <!-- Non-Veg Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown">
            Non-Veg Pickles
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Chicken Pickle</a></li>
            <li><a class="dropdown-item" href="#">Mutton Pickle</a></li>
            <li><a class="dropdown-item" href="#">Fish Pickle</a></li>
            <li><a class="dropdown-item" href="#">Prawn Pickle</a></li>
          </ul>
        </li>


        <!-- Contact -->
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

      </ul>


      <!-- Right side -->
      <ul class="navbar-nav">

        <!-- Cart -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            Cart
          </a>
        </li>

      </ul>


      <!-- Search -->
      <form class="d-flex ms-3">
        <input class="form-control me-2" type="search" placeholder="Search pickles...">
        <button class="btn btn-warning" type="submit">
          Search
        </button>
      </form>

    </div>

  </div>

</nav>
