<p>login works!</p>
<div>
    <form class="p-4">
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkMeOut">
            <label class="form-check-label" for="checkMeOut">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
